.hidden {
  display: none;
}

.container {
  text-align: center;
  font-family: Courier;
  font-weight: bold;
}

.title {
  margin-bottom: 80px;
}

.form {
  margin-bottom: 20px;
}

.input {
  text-align: left;
  font-size: 25px;
}

.results {
  border: solid black;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: lightgrey;
}

.error {
  border: solid black;
  border-radius: 5px;
  margin-top: 40px;
  background-color: red;
  color: white
}

button {
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  box-shadow: 6px 7px #c0c4fa;
}

p {
  font-weight: bold;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

body {
  background-color: #fae974;
  background-image: url("https://img.freepik.com/free-photo/top-view-red-alarm-clock_1150-6832.jpg?w=2000");
  background-size: cover;
}